PORT=8000
MONGODB_URI=mongodb+srv://aadiaditya247:1234@cluster0.2sxu6zj.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN=chai-aur-code
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN=chai-aur-backend
REFRESH_TOKEN_EXPIRY=10d